// Resource List Component Styles
// This component uses styles from terraform-plan-display.component.scss
// Add component-specific overrides here if needed

.resource-list-container {
  width: 100%;
  height: 100%;
}
