<mat-form-field class="baseUrl">
  <mat-label>Server</mat-label>
  <mat-select [(value)]="server" (selectionChange)="reload()">
    <mat-option *ngFor="let svr of servers" [value]="svr">
      {{svr.host}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button (click)="openSettings()">Settings</button>
<button mat-raised-button (click)="reload()" [disabled]="!server">Reload</button>
<button mat-raised-button (click)="openSaveDialog()" color="warn" #saveButton [disabled]="!hasChange">Save Changes</button>
<button mat-raised-button (click)="mode='pipelines'" [disabled]="!server" *ngIf="mode=='variables'">Run Pipeline(s)</button>
<button mat-raised-button (click)="mode='variables'" [disabled]="!server" *ngIf="mode=='pipelines'">Variables</button>
&nbsp;&nbsp;<a href="https://github.com/freesonlee/azure-devops-utilities/issues/new" target="_blank">Report Issue</a>
<br>

 
<mat-drawer-container autosize *ngIf="mode=='variables'">
    
  <mat-drawer mode="side" opened>
    <button mat-raised-button (click)="newGroup()">Create new group</button>
    <mat-action-list>
      <mat-list-item *ngFor="let grp of variableGroups" [ngClass]="grp.hasBad ? 'badRow' : (grp.hasChange?'dirtyRow':'')">
        <button mat-list-item (click)="loadVariable(grp)">{{grp.name}}</button>
      </mat-list-item>
      
    </mat-action-list>

  </mat-drawer>
  <mat-drawer-content>
    <div class="sticky">
    <mat-form-field *ngIf="variableGroup" class="variableGroupNameInput">
        <input matInput [(ngModel)]="variableGroup!.name">
      </mat-form-field>
      
    <button mat-raised-button (click)="newVariable()" *ngIf="variableGroup">Add New</button>
    <button mat-raised-button (click)="cloneGroup()" *ngIf="variableGroup">Clone group</button>
    <button mat-raised-button color="warn" (click)="deleteGroup()" *ngIf="variableGroup && false">Delete Group</button>
  </div>
    <table mat-table [dataSource]="variables" multiTemplateDataRows>

      <ng-container matColumnDef="isSecret">
        <th mat-header-cell *matHeaderCellDef>Secret</th>
        <td mat-cell *matCellDef="let variable" class="secretCell">
          <mat-checkbox class="variableIsSecret" [(ngModel)]="variable.isSecret" (change)="checkChange(variable)">
            <mat-icon>lock</mat-icon>
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let variable" width="350px">
          <mat-form-field class="variableNameInput">
            <input type="text" matInput  [(ngModel)]="variable.name" spellcheck="false" (change)="checkChange(variable)">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <td mat-cell *matCellDef="let variable" width="10px">
          <button mat-icon-button color="warn" (click)="deleteVariable(variable)" *ngIf="!variable.hasChanged && !variable.markForDeletion">
            <mat-icon>delete forever</mat-icon>
          </button>    
          <button mat-icon-button (click)="undoVariable(variable)" *ngIf="variable.hasChanged || variable.markForDeletion">
            <mat-icon>undo</mat-icon>
          </button>         
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let variable" width="10px">
          <button mat-icon-button aria-label="multiple line" (click)="(expandedVariable = expandedVariable === variable ? null : variable); $event.stopPropagation()">
            <mat-icon *ngIf="expandedVariable !== variable">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedVariable === variable">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>
      

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let variable" [ngClass]="descColHiding?'variableValueCell':'variableValueCell-wide'">
          <mat-form-field class="variableValueInput" [matTooltip]="generateDescription(variable)" matTooltipClass="matmline-tooltip"  >
            <input type="text" matInput  [(ngModel)]="variable.value" spellcheck="false" *ngIf="!variable.isSecret" (change)="checkChange(variable)">
            <input type="password" matInput  [(ngModel)]="variable.value" spellcheck="false" *ngIf="variable.isSecret" (change)="checkChange(variable)">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef>
          <span style="position: relative; top: -10px;">Description</span>
          <span>
            <button mat-icon-button aria-label="hide" *ngIf="!descColHiding" (click)="descColHiding=true"><mat-icon style="position: relative;top: -3px">chevron_right</mat-icon></button>
            <button mat-icon-button aria-label="show description" *ngIf="descColHiding" (click)="descColHiding=false"><mat-icon style="position: relative;top: -3px">chevron_left</mat-icon></button>
          </span>
        </th>
        <td mat-cell *matCellDef="let variable" [ngClass]="descColHiding?'descValue-hide':'descValue'">
          <mat-form-field class="variableValueInput">
            <input type="text" matInput  [(ngModel)]="variable.desc" spellcheck="false" (change)="checkChange(variable)">
          </mat-form-field>
        </td>
      </ng-container>


      <ng-container matColumnDef="multilineValue">
        <td mat-cell *matCellDef="let variable" [attr.colspan]="3">
          <div class="example-element-detail"
               [@detailExpand]="variable == expandedVariable ? 'expanded' : 'collapsed'">

              <mat-select hideSingleSelectionIndicator="true" class="mloption" [(value)]="variable.mlType" (valueChange)="variable.value=evaluateVariable(variable.mlType, mlinput.value);checkChange(variable)">
                <mat-option value="|" class="mloption-item">Keep newlines</mat-option>
                <mat-option value=">" class="mloption-item">Replace newlines with spaces</mat-option>
              </mat-select>

            <mat-form-field class="value-multiline-input">
              <textarea class="ta-ml-input" matInput cdkTextareaAutosize #mlinput [value]="variable.mlSource" cdkAutosizeMaxRows="5" (input)="onMultiLineValueChange(variable, $event)"></textarea>
            </mat-form-field>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="multilineDescription">
        <td mat-cell *matCellDef="let variable" [attr.colspan]="2">
          <div class="example-element-detail"
               [@detailExpand]="variable == expandedVariable ? 'expanded' : 'collapsed'">
                  Long description
            <mat-form-field class="value-multiline-input">
              <textarea class="ta-ml-input" matInput cdkTextareaAutosize  [value]="variable.description" cdkAutosizeMaxRows="5" (input)="updateDescription(variable, $event)"></textarea>
            </mat-form-field>
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="['isSecret', 'name', 'value', 'desc']" ></tr>

    <tr mat-row *matRowDef="let row; columns: ['isSecret','name','value', 'desc', 'expand', 'action'];" 
      [ngClass]="row.isBad ? 'badRow' : (row.hasChanged ? 'dirtyRow': (row.markForDeletion ? 'deleted':'' ) )"></tr>

      <tr mat-row *matRowDef="let row; columns: ['multilineValue', 'multilineDescription']" class="example-detail-row"></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>

<pipeline-list *ngIf="mode=='pipelines' && server" #pipelineComp [server]="server!"></pipeline-list>