
  nav {
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  nav button {
    margin-right: 10px;
  }

  .baseUrl {
    width: 500px;
  }
  mat-drawer-container {
    height: 95%;
  }
  .variableNameInput {
    width: 350px
  }
  .variableTitle {
    font-size: x-large;
  }
  .variableGroupNameInput {
    width: 400px
  }
  .variableValueCell {
    width: calc(50% - 20px);
  }
  .variableValueCell-wide {
    width: calc(100% - 40px);
  }
  .descValue {
    width: calc(50% - 20px);
  }
  .descValue-hide {
    width: 20px;
  }
  .variableValueInput {
    width: 100%
  }
  .mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align::before  {
    line-height: 0px !important;
  }
  .variableIsSecret {
        width: 15px;
  }
  .dirtyRow {
    background-color:cadetblue;
  }  
 
  tr.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted.dirtyRow:hover {
    background-color:cadetblue;
  }

  .deleted {
    background-color: chocolate;
  }

  tr.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted.deleted:hover {
    background-color:chocolate;
  }

  .badRow {
    background-color: crimson;
  }

  tr.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted.badRow:hover {
    background-color:crimson;
  }

  .mdc-data-table__cell {
    padding-left: 3px;
    padding-right: 3px;
  }
  .secretCell {
    width: 80px
  }
.mloption {
  width: 250px;

}
.example-element-detail {
  overflow: hidden;
}
tr.example-detail-row {
  height: 0;
}
.value-multiline-input { 
  width: 100%
}
.ta-ml-input {
  min-height: 60px;
}
.mloption-item {
  padding-left: 5px;
  padding-right: 5px;
 }
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 100;
}
.matmline-tooltip {
  white-space: pre-line;
}