<mat-drawer-container autosize>
  <mat-drawer mode="side" opened>
    <button mat-raised-button (click)="newProfile()">Add new profile</button>
    <mat-action-list>
      <mat-list-item *ngFor="let profile of profiles">
        <button mat-list-item (click)="loadProfile(profile)">{{profile.name}}</button>
        
      </mat-list-item>
      
    </mat-action-list>

  </mat-drawer>
  <mat-drawer-content>

    <mat-drawer-container autosize>
      <mat-drawer mode="side" opened>
        <button mat-raised-button (click)="newProfilePipeline()">Add new build to {{profile?.name}}</button>
        <!-- <button mat-raised-button (click)="runProfile()">Run all</button> -->
        <button mat-raised-button (click)="deleteProfile()" color="warn">Delete profile</button>
        <mat-action-list>
          <mat-list-item *ngFor="let pipeline of profile?.pipelines">
            <button mat-list-item (click)="pipelineDefSelected(pipeline);">{{pipeline.name}}</button>
          </mat-list-item>
          
        </mat-action-list>
      </mat-drawer>   
      <mat-drawer-content *ngIf="selectedPipeline!=null">

        <div *ngIf="!selectedPipeline.isNew">{{ selectedPipeline.name }}</div>

        <mat-form-field class="pipelineList" *ngIf="selectedPipeline.isNew">
          <input type="text"
                 matInput
                 [formControl]="pipelineControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="pipelineSelected($event.option.value);">
            <mat-option *ngFor="let pipeline of filteredPipelines | async" [value]="pipeline.fullName">
              {{pipeline.fullName}}
            </mat-option>
          </mat-autocomplete>
          <button *ngIf="selectedPipeline" matSuffix mat-icon-button aria-label="Clear" (click)="pipelineControl.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-expansion-panel #branchSelect *ngIf="selectedPipeline!.pipelineId" (afterExpand)="branchControl.setValue('');">
          <mat-expansion-panel-header>
          <mat-panel-title>
          Branch
          </mat-panel-title>
          <mat-panel-description>
          {{selectedPipeline!.configurations.branch}}
          </mat-panel-description>
          </mat-expansion-panel-header>
         
          <mat-form-field>
            <input type="text"
                   matInput
                   [formControl]="branchControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="branchSelected($event)">
              <mat-option *ngFor="let option of filteredBranches | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          </mat-expansion-panel>

          
          <div *ngFor="let para of parameters">

            <mat-form-field *ngIf="para.type=='string'&&!para.values">
              <mat-label>{{para.displayName || para.name}}</mat-label>
              <input type="text" matInput [(ngModel)]="selectedPipeline!.configurations.parameterValues[para.name]">
            </mat-form-field>

            <div *ngIf="para.type=='string'&&para.values&&para.values.length<=5">
              <mat-label>{{para.displayName || para.name}}</mat-label>
              <mat-selection-list [multiple]="false" (selectionChange)="selectedPipeline!.configurations.parameterValues[para.name]=$event.options[0].value;stagePanel.close();stages=[]" >
                <mat-list-option *ngFor="let option of para.values" checkboxPosition="before" [value]="option" [selected]="
                  selectedPipeline!.configurations.parameterValues[para.name] ?
                    (option == selectedPipeline!.configurations.parameterValues[para.name]) : 
                    (option==para.default || option==para.values[0])">
                  {{option}}
                </mat-list-option>                
              </mat-selection-list>
            </div>

            <mat-form-field *ngIf="para.type=='string'&&para.values&&para.values.length>5">
              <mat-label>{{para.displayName || para.name}}</mat-label>
              <mat-select [value]="para.default||para.values[0]" (selectionChange)="stagePanel.close();stages=[]">
                <mat-option *ngFor="let option of para.values" [value]="option">
                  {{option}}
                </mat-option>                
              </mat-select>
            </mat-form-field>

            <mat-checkbox *ngIf="para.type=='boolean'" [checked]="selectedPipeline!.configurations.parameterValues[para.name]" (change)="selectedPipeline!.configurations.parameterValues[para.name]=$event.checked;stagePanel.close();stages=[]">{{para.displayName || para.name}}</mat-checkbox>

          </div>

          <mat-expansion-panel [(expanded)]="isVariablePanelOpen">
            <mat-expansion-panel-header>
              <mat-panel-title>Variables</mat-panel-title>
            </mat-expansion-panel-header>
            
            <mat-label *ngIf="(selectedPipeline!.configurations.variables).length == 0 ">
              No variable defined for this pipeline
            </mat-label>

            <table mat-table [dataSource]="this.selectedPipeline!.configurations.variables" #variableTable>

              <ng-container matColumnDef="name">
                <td mat-cell *matCellDef="let variable" width="30%">
                  <mat-form-field class="variableNameInput" class="variableNameCell">
                    <input type="text" matInput  [(ngModel)]="variable.name" spellcheck="false" (change)="variable.nameExists=this.selectedPipeline!.checkVariableName(variable)">
                  </mat-form-field>
                  <mat-error *ngIf="variable.nameExists">
                    Variable '{{variable.name}}' is already defined
                  </mat-error>
                  
                </td>
              </ng-container>
        
              <ng-container matColumnDef="action">
                <td mat-cell *matCellDef="let variable" width="100px">
                  <button mat-icon-button color="warn" (click)="selectedPipeline!.deleteVariable(variable);variableTable.renderRows()" *ngIf="!variable.allowOverride||variable.factoryValue==undefined">
                    <mat-icon>delete forever</mat-icon>
                  </button>    
                  <button mat-icon-button (click)="variable.value=variable.factoryValue" *ngIf="variable.allowOverride&&variable.factoryValue!=undefined&&variable.value!=variable.factoryValue">
                    <mat-icon>undo</mat-icon>
                  </button>         
                </td>
              </ng-container>
        
              <ng-container matColumnDef="value">
                <td mat-cell *matCellDef="let variable" width="60%">
                  <mat-form-field class="variableValueInput" class="variableValueCell">
                    <input type="text" matInput  [(ngModel)]="variable.value" spellcheck="false">
                  </mat-form-field>
                </td>
              </ng-container>
        
            <tr mat-row *matRowDef="let row; columns: ['name','value','action'];" ></tr>
            </table>
          </mat-expansion-panel>

          <mat-expansion-panel (afterExpand)="loadStages()" #stagePanel [hidden]="stages.length >= 2" [(expanded)]="isStagePanelOpen">
            <mat-expansion-panel-header>
              <mat-panel-title>Stages to run</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-checkbox [checked]="hasNoSkippedStage()" (change)="toggleAllStages($event)">Run all stages</mat-checkbox>

            <mat-selection-list>
              <mat-list-option *ngFor="let stage of stages" checkboxPosition="before" [selected]="!selectedPipeline!.configurations.stagesToSkip[stage.stage]" 
                (selectedChange)="selectedPipeline!.configurations.stagesToSkip[stage.stage]=!$event">
                {{stage.displayName || stage.stage}}
              </mat-list-option>
            </mat-selection-list>

            <mat-progress-bar mode="indeterminate" *ngIf="loadingStages"></mat-progress-bar>
          </mat-expansion-panel>

          <mat-expansion-panel #resourcesPanel>
            <mat-expansion-panel-header>
              <mat-panel-title>Resources</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-label *ngIf="(selectedPipeline!.configurations.resources.repositories | keyvalue).length == 0 &&
               (selectedPipeline!.configurations.resources.pipelines | keyvalue ).length == 0 ">
              No resources available for this pipeline
            </mat-label>

            <div  *ngFor="let repo of selectedPipeline!.configurations.resources.repositories | keyvalue">

              <mat-form-field class="variableValueCell">
                <mat-label>
                  <mat-icon>code</mat-icon>
                  Source of {{repo.value.repository}} [{{repo.value.name.split('/')[1]}}]</mat-label>
                <input type="text" matInput [placeholder]="'Use &quot;&lt;self&gt;&quot; for same branch as pipeline (' + selectedPipeline!.configurations.branch + '). Leave empty to use default (' + repo.value.ref.split('/')[2] + ').'" [(ngModel)]="repo.value.selectedRef">
              </mat-form-field>
            </div>          

            <div  *ngFor="let pl of selectedPipeline!.configurations.resources.pipelines| keyvalue">
              <mat-form-field class="variableValueCell">
                <mat-label>
                  <mat-icon>redeem</mat-icon>
                  Build of {{pl.key}} [{{pl.value.source}}] {{ pl.value.tags ? ('on #' + pl.value.tags.join(',')):  '' }}
                </mat-label>
                <input type="text" matInput [(ngModel)]="pl.value.selectedBranch" (ngModelChange)="resolveBuildId(pl.key)" [ngModelOptions]="{ updateOn: 'blur' }">
                <mat-icon matSuffix  [matTooltip]="
                'Use &quot;&lt;self&gt;&quot; for same branch as pipeline (' + selectedPipeline!.configurations.branch + '). ' + 
                'Leave empty to use default yaml(' + pl.value.branch + '). ' + 
                'Add #tag1,tag2 behind to search for a build with tags' + 
                'Or put quoted build number or build id'">info</mat-icon>
                <mat-hint *ngIf="selectedPipeline!.resolvedPipelineResources[pl.key]">Resolved to 
                  <a target="_blank" href="{{this.server.host}}/_build/results?buildId={{selectedPipeline!.resolvedPipelineResources[pl.key].id}}">{{selectedPipeline!.resolvedPipelineResources[pl.key].buildNumber}} {{selectedPipeline!.resolvedPipelineResources[pl.key].triggerMessage}}</a>
                  &nbsp;&nbsp;
                  <button mat-icon-button class="refreshbutton" (click)="resolveBuildId(pl.key)">
                    <mat-icon >refresh</mat-icon>
                  </button>
                </mat-hint>
                <mat-hint *ngIf="resolvedFailure[pl.key]">Can't resolve to a build: {{resolvedFailure[pl.key]}}</mat-hint>
              </mat-form-field>
               <!--
              <mat-form-field class="artifactNameInput">
                <mat-label>
                  Artifact name
                </mat-label>
                  <input type="text" matInput placeholder="Enter artifact name to allow unsuccessful build" [(ngModel)]="pl.value.artifact">
              </mat-form-field>
                  -->
            </div>

          </mat-expansion-panel>

          <div>
            <mat-checkbox [(ngModel)]="selectedPipeline!.configurations.enableDiag">Enable system diagnostics</mat-checkbox>
          </div>

          <button mat-raised-button [disabled]="!canSave()" (click)="save()">Save</button>
          <button mat-raised-button (click)="this.selectedPipeline!.addNewVariable();variableTable.renderRows()">Add Variable</button>
          <button mat-raised-button [disabled]="!canSave()" (click)="runPipeline(selectedPipeline, true)">Run</button>
          <button mat-raised-button (click)="deletePipeline()" color="warn">Delete</button>
      </mat-drawer-content>
  
    </mat-drawer-container>
   
  </mat-drawer-content>
</mat-drawer-container>