
  mat-drawer-container {
    height: 95%;
  }
  mat-form-field {
    width: 300px;
  }
  .pipelineList {
    width: 600px
  }
  .variableNameCell {
    width: 100%
  }
  .variableValueCell {
    width: 100%;

    > .mat-mdc-form-field-subscript-wrapper {
      height: 30px;
    }
  }
  .artifactNameInput {
    width: 80%
  }

  .refreshbutton {
    padding: 0px;
    height: 12px;
    width:12px;

    --mdc-icon-button-icon-size: 18px;

    > .mat-mdc-icon-button.mat-mdc-button-base {
      --mdc-icon-button-state-layer-size: revert
    }

    > mat-icon {
      top: -8px;
      position: absolute;
      left: -3px;
    }
  }
  tr.example-detail-row {
    height: 0;
  }
  .example-element-detail {
    overflow: hidden;
  }
  .mloption {
    width: 250px;
  
  }
  .mloption-item {
    padding-left: 5px;
    padding-right: 5px;
   }
   .value-multiline-input { 
    width: 100%
  }